<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyActivity</title>
    <script src="/js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="container">
        <h2>Conceitos</h2>

        <form action="/concepts" method="POST">
            <label for="base">Base</label>
            <input type="text" name="base" value="<%= topic %>" id="base" />
            <textarea class="square" name="text" id="text" cols="30" rows="10"><%= text %></textarea>
            <input type="submit" value="Buscar conceitos" />
        </form>
    </div>
</body>

</html>